:root {
  --header-h: 56px;      /* 헤더 높이(나중에 헤더에 들어가는거에 맞게 수정하면됨) */
}

html, body, #root {
  height: 100%;
}
body { margin: 0; background: #0b1016; } 

.outer {
  width: 100%;
  background: #0b1016; 
}

.inner {
  margin: 0 auto;
  width: 420px; 
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* 본문 스크롤 영역 */
.app-content {
  /* -webkit-overflow-scrolling: touch; */
  padding: calc(var(--header-h) + 8px) 16px 16px;
}
